MyWindowsFormApplication/Service References/ServiceCandidates/CandidatesAmericaRepublican.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetAllYears">
        <s:complexType />
      </s:element>
      <s:element name="GetAllYearsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllYearsResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAllCandidates">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fromYear" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tooYear" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllCandidatesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllCandidatesResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAllYearsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllYears" />
  </wsdl:message>
  <wsdl:message name="GetAllYearsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllYearsResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllCandidatesSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllCandidates" />
  </wsdl:message>
  <wsdl:message name="GetAllCandidatesSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllCandidatesResponse" />
  </wsdl:message>
  <wsdl:portType name="CandidatesAmericaRepublicanSoap">
    <wsdl:operation name="GetAllYears">
      <wsdl:input message="tns:GetAllYearsSoapIn" />
      <wsdl:output message="tns:GetAllYearsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCandidates">
      <wsdl:input message="tns:GetAllCandidatesSoapIn" />
      <wsdl:output message="tns:GetAllCandidatesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CandidatesAmericaRepublicanSoap" type="tns:CandidatesAmericaRepublicanSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllYears">
      <soap:operation soapAction="http://tempuri.org/GetAllYears" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCandidates">
      <soap:operation soapAction="http://tempuri.org/GetAllCandidates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CandidatesAmericaRepublicanSoap12" type="tns:CandidatesAmericaRepublicanSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllYears">
      <soap12:operation soapAction="http://tempuri.org/GetAllYears" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCandidates">
      <soap12:operation soapAction="http://tempuri.org/GetAllCandidates" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CandidatesAmericaRepublican">
    <wsdl:port name="CandidatesAmericaRepublicanSoap" binding="tns:CandidatesAmericaRepublicanSoap">
      <soap:address location="http://localhost:3339/CandidatesAmericaRepublican.asmx" />
    </wsdl:port>
    <wsdl:port name="CandidatesAmericaRepublicanSoap12" binding="tns:CandidatesAmericaRepublicanSoap12">
      <soap12:address location="http://localhost:3339/CandidatesAmericaRepublican.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>