MyWindowsFormApplication/Service References/ServiceAmerican/American.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CheckAmericanWar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="year" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckAmericanWarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckAmericanWarResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CheckAmericanWarSoapIn">
    <wsdl:part name="parameters" element="tns:CheckAmericanWar" />
  </wsdl:message>
  <wsdl:message name="CheckAmericanWarSoapOut">
    <wsdl:part name="parameters" element="tns:CheckAmericanWarResponse" />
  </wsdl:message>
  <wsdl:portType name="AmericanSoap">
    <wsdl:operation name="CheckAmericanWar">
      <wsdl:input message="tns:CheckAmericanWarSoapIn" />
      <wsdl:output message="tns:CheckAmericanWarSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AmericanSoap" type="tns:AmericanSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckAmericanWar">
      <soap:operation soapAction="http://tempuri.org/CheckAmericanWar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AmericanSoap12" type="tns:AmericanSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckAmericanWar">
      <soap12:operation soapAction="http://tempuri.org/CheckAmericanWar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="American">
    <wsdl:port name="AmericanSoap" binding="tns:AmericanSoap">
      <soap:address location="http://localhost:44482/American.asmx" />
    </wsdl:port>
    <wsdl:port name="AmericanSoap12" binding="tns:AmericanSoap12">
      <soap12:address location="http://localhost:44482/American.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>