MyWindowsFormApplication/Service References/ServiceSubtract/SubtractTwoNumbers.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SubtractNumbers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="numberOne" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="numberTwo" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubtractNumbersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SubtractNumbersResult" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SubtractNumbersSoapIn">
    <wsdl:part name="parameters" element="tns:SubtractNumbers" />
  </wsdl:message>
  <wsdl:message name="SubtractNumbersSoapOut">
    <wsdl:part name="parameters" element="tns:SubtractNumbersResponse" />
  </wsdl:message>
  <wsdl:portType name="SubtractTwoNumbersSoap">
    <wsdl:operation name="SubtractNumbers">
      <wsdl:input message="tns:SubtractNumbersSoapIn" />
      <wsdl:output message="tns:SubtractNumbersSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SubtractTwoNumbersSoap" type="tns:SubtractTwoNumbersSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SubtractNumbers">
      <soap:operation soapAction="http://tempuri.org/SubtractNumbers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SubtractTwoNumbersSoap12" type="tns:SubtractTwoNumbersSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SubtractNumbers">
      <soap12:operation soapAction="http://tempuri.org/SubtractNumbers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SubtractTwoNumbers">
    <wsdl:port name="SubtractTwoNumbersSoap" binding="tns:SubtractTwoNumbersSoap">
      <soap:address location="http://localhost:40881/SubtractTwoNumbers.asmx" />
    </wsdl:port>
    <wsdl:port name="SubtractTwoNumbersSoap12" binding="tns:SubtractTwoNumbersSoap12">
      <soap12:address location="http://localhost:40881/SubtractTwoNumbers.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>